*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#0e0e1a;
color:white;
scroll-behavior:smooth;
}

nav{
position:fixed;
width:100%;
padding:18px 60px;
display:flex;
justify-content:space-between;
background:rgba(15,15,30,.7);
backdrop-filter:blur(10px);
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.voice-btn{
margin-top:20px;
padding:12px 22px;
border:none;
border-radius:25px;
background:#8a5cff;
color:white;
font-size:16px;
cursor:pointer;
box-shadow:0 0 15px #8a5cff;
transition:.3s;
}

.voice-btn:hover{
transform:scale(1.08);
box-shadow:0 0 25px #8a5cff;
}

.section{
padding:120px 60px;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:linear-gradient(145deg,#1d1d33,#141425);
padding:30px;
margin:15px;
width:230px;
border-radius:18px;
transition:.4s;
box-shadow:0 10px 25px rgba(0,0,0,.4);
}

.card:hover{
transform:translateY(-8px);
}

.card a{
color:#8a5cff;
text-decoration:none;
}

.bg-glow{
position:fixed;
width:300px;
height:300px;
filter:blur(140px);
opacity:.25;
z-index:-1;
}

.glow1{
background:#8a5cff;
top:100px;
left:50px;
}

.glow2{
background:#00ffd5;
bottom:100px;
right:50px;
}

.contact-glass{
background:rgba(255,255,255,.03);
backdrop-filter:blur(12px);
border-radius:20px;
}

.contact-icons{
display:flex;
justify-content:center;
gap:25px;
margin:30px 0;
}

.icon{
font-size:32px;
width:65px;
height:65px;
display:flex;
align-items:center;
justify-content:center;
border-radius:50%;
background:#16162a;
transition:.4s;
}

.icon:hover{
transform:scale(1.1);
box-shadow:0 0 20px currentColor;
}

.email{color:#ff6363;}
.linkedin{color:#0a66c2;}
.github{color:white;}
.whatsapp{color:#25D366;}

.ai-btn{
position:fixed;
bottom:25px;
right:25px;
width:60px;
height:60px;
background:#8a5cff;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:28px;
cursor:pointer;
box-shadow:0 0 20px #8a5cff;
transition:.3s;
z-index:20;
}

.ai-btn:hover{
transform:scale(1.1);
}

.chatbox{
position:fixed;
bottom:100px;
right:25px;
width:280px;
background:#16162a;
border-radius:15px;
overflow:hidden;
box-shadow:0 0 25px rgba(0,0,0,.7);
transition:.4s;
z-index:20;
}

.hidden{
opacity:0;
pointer-events:none;
transform:translateY(40px);
}

.chat-header{
background:#8a5cff;
padding:10px;
display:flex;
justify-content:space-between;
font-weight:bold;
}

.chat-body{
height:200px;
padding:10px;
overflow-y:auto;
font-size:14px;
}

.chat-input{
display:flex;
}

.chat-input input{
flex:1;
padding:8px;
border:none;
background:#1e1e35;
color:white;
}

.chat-input button{
background:#8a5cff;
border:none;
padding:8px;
color:white;
cursor:pointer;
}